node_modules
bundle.js


<!doctype html>
<html>
   <head>
      <title>Notes app</title>
   </head>
   <body>
      <h1>Notes app</h1>

      <input type="text" id="add-note-input" />
      <button id="add-note-btn">Add note</button>
      
      <div id="main-container">

      </div>

      <script type="text/javascript" src="bundle.js"></script>
   </body>
</html>

const fs = require('fs')

const NotesModel = require('../src/notesModel');
const NotesView = require('../src/notesView');

describe('Notes view', () => {
  it('displays two notes', () => {
    document.body.innerHTML = fs.readFileSync('./index.html');

    const model = new NotesModel();
    const view = new NotesView(model);
    model.addNote('A first note');
    model.addNote('Another note');

    view.displayNotes();

    expect(document.querySelectorAll('div.note').length).toEqual(2);
  });

  it('adds a new note', () => {
    document.body.innerHTML = fs.readFileSync('./index.html');

    const model = new NotesModel();
    const view = new NotesView(model);

    const input = document.querySelector('#add-note-input');
    input.value = 'This is a new test note'

    const button = document.querySelector('#add-note-btn');
    button.click();

    expect(document.querySelectorAll('div.note').length).toEqual(1);
    expect(document.querySelectorAll('div.note')[0].textContent).toEqual('This is a new test note');
  });
})


<!DOCTYPE html>
 <html lang="en">
   <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">

     <title>My web page</title>
   </head>
   <body>
       <!-- add this line at the end of the body -->
   <script type="text/javascript" src="bundle.js"></script>
   </body>
</html>

const NotesModel = require('./notesModel');
const NotesView = require('./notesView')

let model = new NotesModel;

model.addNote('This is an example note');

let view = new NotesView(model);

view.displayNotes();

// console.log(model.getNotes());

  it('adds a new note', () => {
    document.body.innerHTML = fs.readFileSync('./index.html');

    const model = new NotesModel();
    const view = new NotesView(model);

    const input = document.querySelector('#add-note-input');
    input.value = 'This is a new test note'

    const button = document.querySelector('#add-note-btn');
    button.click();

    expect(document.querySelectorAll('div.note').length).toEqual(1);
    expect(document.querySelectorAll('div.note')[0].textContent).toEqual('This is a new test note');
  });

    addNewNote(newNote) {
  this.model.addNote(newNote);
  this.displayNotes();
  }